* {
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
}

:root {
   --bg-cor: rgb(202, 202, 202);

   --nao-metais: #a1d344;

   --gases-nobres: #3d9ee3;
   
   --metais-alcalinos: #f1b200;
  
   --metais-alcalinos-terrosos: #eada00;

   --semimetais: #4db6ac;
  
   --halogenios: #70cbeb;

   --outros-metais: #a2c7d3;
   
   --metais-de-transicao: #eb8e8e;
   
   --lantanideos: #90e3e9;
   
   --actinidios: #dcadd6;
   
}
h2{
   font-size: 25px;
}
h3{
   font-size: 22px;
}
h6{
   font-size: 15px;
}
p{
   font-size: 15px;
}
body {
   font-family: 'Changa', sans-serif;
   font-size: 0.7rem;
   color: rgb(27, 27, 27);
   background-image: var(--bg-cor);
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.head {
   display: flex;
   align-items: center;
   margin: 1.5rem 0 0;
}

.head a {
   margin: 0 0.5rem;
   font-size: 1rem;
   color: #ffa500;
}

h1 {font-weight: 600;}

h1 span {
   background-color: #ffa500;
}

.num {
   font-size: 1rem;
   font-weight: 100;
}

.letra {
   font-size: 1.7rem;
   font-weight: 600;
}

.elemento {
   font-size: 0.9rem;
   font-weight: 900;
}

.group {
   font-size: 0.6rem;
   font-weight: 600;
}

.container {
   display: grid;
   grid-template-columns: repeat(18, 95px);
   grid-auto-rows: minmax(10px, auto);
   grid-gap: 0.2rem;
   padding: 3px;
}

.item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 0.65rem;
}
a.item {
   color:  rgb(27, 27, 27);
}

.item:hover{
   background-color: #000;
   color: #fff;
   transform: scale(1.2);
   box-shadow: 7px 6px 8px 2px #00000030;
}

/* Grid spans and positions */
.item:first-child {
   grid-column: 1;
}

.item:nth-child(2) {
   grid-column: 18;
}

.item:nth-child(5) {
   grid-column: 13;
}

.item:nth-child(12) {
   grid-column: 2;
}

.item:nth-child(13) {
   grid-column: 13;
}

/* Responsive */
@media(max-width: 1350px) {
   .container {
      grid-template-columns: repeat(18, 60px);
   }

   .item {
      overflow-x: hidden;
   }
}

@media(max-width: 1230px) {
   .item:nth-child(2) {
      grid-column: 2;
   }
}

@media(max-width: 1150px) {
   .container {
      grid-template-columns: repeat(10, 70px);
   }

   .item:nth-child(5) {
      grid-column: 5;
   }

   .item:nth-child(10) {
      grid-column: 10;
   }

   .item:nth-child(11) {
      grid-row: 2;
      grid-column: 1;
   }

   .item:nth-child(13) {
      grid-row: 2;
      grid-column: 3;
   }
}

@media(max-width: 800px) {
   .container {
      grid-template-columns: repeat(5, 70px);
   }

   .item:nth-child(5) {
      grid-row: 1;
   }

   .item:nth-child(10) {
      grid-column: 5;
      grid-row: 2;
   }

   .item:nth-child(11) {
      grid-row: 3;
      grid-column: 1;
   }

   .item:nth-child(13) {
      grid-row: 3;
      grid-column: 3;
   }
}
#nao-metais:before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--nao-metais);
}
#gases-nobres:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--gases-nobres);
}
#metais-alcalinos:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--metais-alcalinos);
}
#metais-alcalinos-terrosos:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--metais-alcalinos-terrosos);
}
#semimetais:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--semimetais);
}
#halogenios:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--halogenios);
}
#outros-metais:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--outros-metais);
}
#metais-de-transicao:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--metais-de-transicao);
}
#lantanideos:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--lantanideos);
}
#actinidios:before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   margin-right: 6px;
   background: var(--actinidios);
}
.caixa-legenda {
   display: flex;
   flex-direction: row;
}
.item-legenda {
   padding: 20px;
}
.container-legendas {
   padding: 30px;
}

.nao-metais{
   background: var(--nao-metais);
}
.gases-nobres{
   background: var(--gases-nobres);
}
.metais-alcalinos{
   background: var(--metais-alcalinos);
}
.metais-alcalinos-terrosos{
   background: var(--metais-alcalinos-terrosos);
}
.semimetais{
   background: var(--semimetais);
}
.halogenios{
   background: var(--halogenios);
}
.outros-metais{
   background: var(--outros-metais);
}
.metais-de-transicao{
   background: var(--metais-de-transicao);
}
.lantanideos{
   background: var(--lantanideos);
}
.actinidios{
   background: var(--actinidios);
}
section{
   padding: 20px;
}
.bg-elemento{
   background-color: rgb(231, 231, 231);
}
.btn-voltar{
   margin-top: 20px!important;
   font-size: 1rem;
}
.elemento-interna{
   color: #fff;
   padding: 7px 15px 7px 15px;
   border-radius: 8px;
   font-size: 20px;
   margin-bottom: 60px!important;
}
.titulo-elemento-interna{
   margin-top: 20px;
}
